<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elegent Watch</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/theme/css/lightslider.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/all.css">
    <link href="~/Content/theme/css/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/theme/css/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/theme/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/Content/theme/css/style.css">
</head>
<body>
    <!--::header part start::-->
    @Html.Partial("Header")
    <!-- Header part end-->
    <!--::banner part start::-->
    @RenderSection("Banner", false)
    <!-- banner part end-->
    @RenderBody()
    <!--::footer_part start::-->
    @Html.Partial("Footer");
    <!--::footer_part end::-->
    <!-- jquery plugins here-->
    <script src="~/Scripts/theme/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/Scripts/theme/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Scripts/theme/bootstrap.min.js"></script>
    <!-- swiper js -->
    <script src="~/Scripts/theme/lightslider.min.js"></script>
    <!-- easing js -->
    <script src="~/Scripts/theme/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/Scripts/theme/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/Scripts/theme/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/Scripts/theme/owl.carousel.min.js"></script>
    <script src="~/Scripts/theme/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/Scripts/theme/slick.min.js"></script>
    <script src="~/Scripts/theme/jquery.counterup.min.js"></script>
    <script src="~/Scripts/theme/waypoints.min.js"></script>
    <script src="~/Scripts/theme/contact.js"></script>
    <script src="~/Scripts/theme/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/theme/jquery.form.js"></script>
    <script src="~/Scripts/theme/jquery.validate.min.js"></script>
    <script src="~/Scripts/theme/mail-script.js"></script>
    <!-- custom js -->
    <script src="~/Scripts/theme/custom.js"></script>
    <!-- common js -->
    <script src="~/Scripts/common/common.js"></script>
</body>

</html>